<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>MyPlace</title>
</head>

<body>
  <div class="grid-container">
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="../index.html">Home</a> </li>
          <li><span>|</span></li>
          <li><a href="../blogs">Blogs</a></li>
          <li><span>|</span></li>
          <li><a href="../authors">Authors</a></li>
          <li><span>|</span></li>
          <li><a href="../genres">Genres</a></li>
        </ul>
      </nav>
    </header>

    <div class="grid-col-left col">
      <section id="authors-list">
        <h2>All Authors</h2>
        <div class="content" th:each="author : ${authors}">
          <div class="content-title"><a th:href="@{'/authors/' + ${author.id}}" th:text="${author.fullName}"></a>
          </div>
          <div class="content-area" th:text="'Number of posts: ' + ${author.blogPosts.size()}">

          </div>
        </div><!-- CONTENT -->
    </div><!-- GRID COL LEFT -->

    <div class="grid-col-right">

      <section id="author">
        <h2 class="author-title" th:text="'Posts by ' + ${author.fullName}">Title</h2>
        <div class="content" th:each="blog : ${author.blogPosts}">

          <a th:href="@{'/blogs/' + ${blog.id}}" th:text="${blog.title}"></a>
        </div><!-- CONTENT -->
      </section>
    </div> <!-- GRID-COL-RIGHT -->

  </div>
</body>

</html>