<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>MyPlace</title>
</head>

<body>
    <div class="grid-container">
        <header>
            <nav>
                <ul class="navbar">
                    <li><a href="../index.html">Home</a> </li>
                    <li><span>|</span></li>
                    <li><a href="../blogs">Blogs</a></li>
                    <li><span>|</span></li>
                    <li><a href="../authors">Authors</a></li>
                    <li><span>|</span></li>
                    <li><a href="../genres">Genres</a></li>
                </ul>
            </nav>
        </header>

        <div class="grid-col-left col">
            <section id="blogs-list">
                <h2>All Blog Posts</h2>
                <div class="content" th:each="blogpost : ${blogs}">
                    <div class="content-title"><a th:href="@{'/blogs/' + ${blogpost.id}}"
                            th:text="${blogpost.title}"></a>
                    </div>
                    <div class="content-area" th:text="${blogpost.author.fullName + ' (' + blogpost.genre.name + ')'}">
                    </div>
                </div><!-- CONTENT -->

            </section>
        </div><!-- GRID COL LEFT -->

        <div class="grid-col-right">

            <section id="blogpost">
                <h2 class="blogPost-title" th:text="${blog.title}">Title</h2>
                <div class="content">
                    <p class="blogPost-body" th:text="${blog.blogText}"></p>
                </div><!-- CONTENT -->
                <div class="blogpost-footer">
                    <div class="blogPost-info">
                        <ul>
                            <li th:text="${blog.author.fullName}"></li>
                            <li>Date</li>
                            <li th:text="${blog.genre.name}"></li>
                        </ul>
                    </div>

                </div>
                <br>
                <br>
                <a th:href="@{/blogs}" class="link-back">&#8592;Back to Add Blog Post</a>
            </section>
        </div> <!-- GRID-COL-RIGHT -->

    </div>
</body>

</html>