<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>MyPlace</title>
</head>

<body>
  <div class="grid-container">
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="../index.html">Home</a> </li>
          <li><span>|</span></li>
          <li><a href="../blogs">Blogs</a></li>
          <li><span>|</span></li>
          <li><a href="../authors">Authors</a></li>
          <li><span>|</span></li>
          <li><a href="../tags">Tags</a></li>
          <li><span>|</span></li>
          <li><a href="../genres">Genres</a></li>
        </ul>
      </nav>
    </header>

    <div class="grid-col-left col">
      <section id="tags-list">
        <h2>All Tags</h2>
        <div class="content" th:each="tag : ${tags}">
          <div class="content-title"><a th:href="@{'/tags/' + ${tag.id}}" th:text="${tag.name}"></a>
          </div>
          <div class="content-area" th:text="'Number of posts: ' + ${tag.blogPosts.size()}">

          </div>
        </div><!-- CONTENT -->
    </div><!-- GRID COL LEFT -->



    <div class="grid-col-right">
      <section id="add-tag-form">
        <h2 class="tag-title">Add a New Tag</h2>
        <form method="POST" th:action="'/add-tag'">
          <input name="name" type="text" placeholder="#tag">
          <button type="submit">Add Tag</button>
        </form>
      </section>
    </div> <!-- GRID-COL-RIGHT -->

  </div>
</body>

</html>